<% layout('./public/layout') %>
<div class="row">

<div class="col-lg-6 col-md-offset-3  login-form o padding 2000px block-shadow block-shadow">
  <%  if(error.length >0) {%>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>

     <style>
         .login-form {
             width: 35rem;
             height: 42.75rem;
             position: 25px;
             top: 30%;
             margin-top: -1.375rem;
             left: 50%;
             margin-left: -12.5rem;
             background-color: #ffffff;
             opacity: 0;
             -webkit-transform: scale(.8);
             transform: scale(.8);
         }
     </style>

<form method="post">
  <h1 class="text-light">Complete sus datos para la creacion de un Libro</h1>
  <hr class="thin"/>
  <br />
<div class="form-group" >
   <label> ISBN</label>
   <input type="text"  name="isbn" class="form-control"  required="true" />
</div>

<div class="form-group" >
   <label> Titulo</label>
   <input type="text"  name="title" class="form-control"  required="true" />
</div>

<div class="form-group" >
   <label> Autores</label>
   <input type="text"  name="authors" class="form-control"  required="true" />
</div>

<div class="form-group" >
   <label> Fecha Publicacion</label>
   <input type="date"  name="published_date" class="form-control"  required="true" />
</div>


<div class="form-group" >
   <label> Categoria</label>


   <select  name="category" class="form-control">


     <% categories.forEach(function(value,index,arr){ %>
       <option name ="category"value="<%= arr[index]._id%>"><%= arr[index].name%></option>

         <%  }) %>

  </select>

</div>

<div class="form-group" >
   <label> Cantidad Disponible</label>
   <input type="number"  name="stock_amount" class="form-control"  required="true" />
</div>


<div class="form-group" >
   <label> Cantidad De Dia de Prestamo</label>
   <input type="number"  name="loan_time" class="form-control"  required="true" />
</div>


<button type="submit" class="btn btn-success">Registrar</button><a class="btn btn-default" href="/return" role="button">Regresar Pagina Anterior &raquo;</a>
</form>

</div>
</div>
