<% layout('./public/layout') %>
<div class="row">

<div class="col-lg-6 col-md-offset-3">

<form method="post">
<div class="form-group" >
   <label> Nombre Categoria </label>
   <input type="text"  name="name" class="form-control"  required="true" />
</div>

<button type="submit" class="btn btn-success">Registrar</button>
<p><a class="btn btn-default" href="/return" role="button">Regresar Pagina Anterior &raquo;</a></p>
</form>

</div>
</div>
