<% layout('./public/layout') %>
<div class="container">
<div class="row">
<% for(var x =0;x<books.length;x++) {%>

<div class="col-md-3">
<div class="thumbnail">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Y8-F6JNf0poWhhVUkwpCrfmKAYPZxzs-MOaBu9SWbVOWToKM"/>
<div class="caption">
<h3><%= books[x].title %></h3>
<p><%= books[x].ISBN %></p>
<p><%= books[x].authors %></p>
</div>
</div>
</div>
<%}%>
</div>
</div>
