<% layout('./public/layout') %>
<div class="row">

<div class="col-lg-6 col-md-offset-3   login-form padding20 block-shadow">
  <%  if(error.length >0) {%>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>





<form method="post" action="/login">

  <h1 class="text-light">Iniciar Sesion</h1>
  <hr class="thin"/>
  <br />

<div class="form-group input-control password full-size"  >
   <label> Matricula/Codigo de Maestro</label>
   <input type="text"  name="university_ident" class="form-control"  required="true" />
</div>

<div class="form-group input-control password full-size" >
  <label>Contraseña</label>
  <input type="password"  name="password" class="form-control"   required="true"/>
</div>

 <button type="submit" class="btn btn-success">Iniciar  Sesion <span class="glyphicon glyphicon-user"></span> </button>

<a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
</form>

</div>
</div>
