<% layout('./public/layout') %>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-3">
      <h2>Agrega Libros a la Coleccion</h2>
      <img  src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Book_font_awesome.svg"/>
      <p><a class="btn btn-default" href="/addBook" role="button">Agrega Libros a La Coleccion &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Modifica Libros de La Coleccion</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Edit_font_awesome.svg" />
      <p><a class="btn btn-default" href="/detailbooks" role="button">Editar Libros &raquo;</a></p>
   </div>
    <div class="col-md-3">
      <h2>Historico de Libros Prestados</h2>
      <img src="http://image.flaticon.com/icons/svg/18/18229.svg" />
      <p><a class="btn btn-default" href="/historical" role="button">Historial &raquo;</a></p>
    </div>


    <div class="col-md-3">
      <h2>Solicitar Libro Prestado</h2>
      <img src="http://image.flaticon.com/icons/svg/18/18229.svg" />
      <p><a class="btn btn-default" href="/buybooks" role="button">Solicitar Libros &raquo;</a></p>
    </div>


  </div>
