
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/custom.css"></link>
</head>

  <body>



    <div class="container">
<%-  body  -%>
    </div> <!-- /container -->


</body>
</html>
