
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Library Rent </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/validation.js"></script>
<link rel="stylesheet" href="/custom.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">


<link href="/metro-icon.css" rel="stylesheet">
<link href="/metro-responsive.css" rel="stylesheet">
<link href="/metro.css" rel="stylesheet">
<script src="/metro.js"></script>


   <style>
       .login-form {
           width: 25rem;
           height: 18.75rem;
           position: fixed;
           top: 50%;
           margin-top: -9.375rem;
           left: 50%;
           margin-left: -12.5rem;
           background-color: #ffffff;
           opacity: 0;
           -webkit-transform: scale(.8);
           transform: scale(.8);
       }
   </style>
</head>



<body class="bg-darkTeal">



    <nav class = "navbar navbar-default" role = "navigation">
       <div>

           <ul class = "nav navbar-nav navbar-right">
             <li class = "dropdown">
                <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                   Hola Usuario
                   <b class = "caret"></b>
                </a>

                <ul class = "dropdown-menu">
                   <li><a href = "/logout">Cerrar Sesion</a></li>
                </ul>

             </li>
          </ul>
      </div>

    </nav>



    <div class="container">
<%-  body  -%>
    </div> <!-- /container -->


</body>
</html>
